VRUMigration/.adf/META-INF/adf-config.xml
VRUMigration/.data/
VRUMigration/VRUMIgrationCheck/SOA/BPEL/.designer/
VRUMigration/VRUMIgrationCheck/deploy/
VRUMigration/VRUMIgrationCheck/SOA/SCA-INF/
VRUMigration/VRUMigration/deploy/
